name: jservice

services:
  jservice-db:
    image: postgres:17
    container_name: jservice-db
    restart: unless-stopped
    volumes:
      - jservice-db:/var/lib/postgresql/data
      - ./backups:/backups
    networks:
      - jservice-network
    env_file: 
      - path: ./env/db.env
    secrets:
       - db_password

  jservice:
    image: ghcr.io/radusalagean/jservice:latest
    container_name: jservice
    restart: unless-stopped
    networks:
      - jservice-network
    depends_on:
      - jservice-db
    env_file: 
      - path: ./env/db.env
      - path: ./env/jservice.env
    secrets:
       - db_password

secrets:
   db_password:
     file: secrets/db_password.txt

volumes:
  jservice-db:
    name: jservice-db
